@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./assets/images/theblaze.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "Archivo Black", sans-serif;
  overflow-x: hidden;
}
